<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Task Organizer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['dashboard']">Dashboard</a>
    </div>
  </div>

  <form class="form-inline">
    <div *ngIf="!logged">
      <a class="btn btn-link" [routerLink]="['account']">Sign in</a>
    </div>
    <div *ngIf="logged">
      <button class="btn btn-outline-success" type="button" (click)="logout()">Log out</button>
    </div>
  </form>
</nav>

<router-outlet></router-outlet>
